@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 72.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#mediaHome{
    min-height: 70vh;
    justify-content: center;
    background-color: white;
    padding: 60px;
}


}
.navbar-light .navbar-nav .nav-link {
    color: green;
    font-size: 1.6rem;
}

#seccionPrincipal {
    min-height: 70vh;
    display: flex;
    justify-content: center;
}

#seccionPrincipal h2 {
    font-size: 2.5rem;
}

#seccionPrincipal p {
    font-size: 1.8rem;
}

#cardsHome {
    background-color: #7506 C;
    padding: 60px;
}

#cardshome .contenedorCard {
    margin: 0 auto;
}

#cardsHome .contenedorCard .cardProducto {
    background-color: rgb(160, 150, 150);
    border: none;
}

#cardsHome .contenedorCard .cardProducto img {
    border-radius: 10px;
}

#cardsHome .contenedorCard .cardProducto h5 {
    font-size: 2.2rem;
    color: white;
    font-weight: 400;
}

#cardsHome .contenedorCard .cardProducto p {
    font-size: 1.5rem;
    color: white;
    font-weight: 300;
}

#cardsHome .contenedorCard .cardProducto a {
    font-size: 1.7rem;
    color: white;
    background-color: transparent;
    border: 2px solid hsl(330, 71%, 59%);
    font-weight: 300;
}

#form {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form form {
    height: 200px;
    display: flex;
    flex-direction: column;
}

#form input {
    margin: 8px 0px;
}

#form input:focus {
    box-shadow: 0px 0px 10px 3px hsl(330, 60%, 75%);
    outline: none;
    border: none;
}

#media {

    height: 130px;
}